<input onchange='importFile(event)' type="file" id="files" name="files[]" multiple>
<form>
    <br>
    {{#unless search}}
    {{#each asPrev}}
    <p class="previous">{{this}} {{#if this}}AND{{/if}}</p>
    {{/each}}
    {{#if cats11Done}}
    <p>Category chosen: {{cats11}}</p>
    {{else}}
    <p>Choose a category:</p>
    <select class="selectdd" id="cats11" onchange="selectCat(this.id, this.value)">
        {{#each cats11}}
        <option value={{this}}>{{this}}</option>
        {{/each}}
    </select>
    {{/if}}
    {{#if cats12Done}}
    <p>Subcategory chosen: {{cats12}}</p>
    {{else}}
    {{#if cats12}}
    <p>And one or more sub-categories:</p>
    <select multiple="multiple" class="selectdd" id="cats12">
        {{#each cats12}}
        <option value={{this}}>{{this}}</option>
        {{/each}}
    </select>
    <input class="selectdd" type='button' onclick='nextButton("cats12")' value='Next'>
    {{/if}}
    {{/if}}
    {{#if cats13}}
    <p> And a sub-sub-category:</p>
    <select class="selectdd" id="cats13" onchange="selectCat(this.id, this.value)">
        {{#each cats13}}
        <option value={{this}}>{{this}}</option>
        {{/each}}
    </select>
    {{/if}}
    {{#if cats14}}
    <select class="selectdd" id="cats14" onchange="selectCat(this.id, this.value)">
        {{#each cats14}}
        <option value={{this}}>{{this}}</option>
        {{/each}}
    </select>
    {{/if}}
    <input class="selectdd" type='button' {{#if andBtnDisabled}} disabled{{/if}} onclick='andButton()' value='AND' id='and'>
    <input class="selectdd" type='button' onclick='searchButton()' value='Search' id='search'>
    {{/unless}}
    {{#if search}}
    <p>Searching:</p>
    {{#each asPrev}}
    <p class="previous">{{this}} {{#unless @last}}AND{{/unless}}</p>
    {{/each}}
    {{/if}}
</form>
